body {
    background-color: #000;/* cor de fundo do site (preta)*/
}
.sidebar{
    position: fixed;/* Manterá essa parte fixa na página, nao importa o que aconteça */
    top: 0;/* Top, left, right, bottom são styles que acompanharão o postion que não seja static (fixed, absolute) */
    left:0;
    bottom: 0;
    padding: 12px;/* um valor foi colocado no padding,ou seja, em todas as posições ele possui 12px de padding */
    width: 300px;/*largura */
}
.sidebar__navigation {
    background-color: #121212;/* Cor de fundo da parte mais lateral do site (area de navegação) */
    border-radius: 8px;/* é o que faz o quadradinho ficar arredondado*/
    padding: 16px 0 0 16px;/*Espaçamento do objeto em relação a sua borda (gira no sentido horário (cima, direita, baixo, esquerda) */
}

.sidebar__navigation .logo {
    background-color:#121212;
    display:flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}
.sidebar__navigation .logo img { /*Pegará a img que está dentro da tag logo que esta dentro da tag sidebar__navigation*/
    width: 80px;

}
.sidebar nav ul {
    margin-top: 20px;/* distanciar o nav do topo */
    padding: 0 20px 10px 20px;
}
.sidebar ul li{  /* modificar a lista dentro do sidebar*/
    padding: 10px 0; /* quando usa-se dois numeros no padding o primeiro numero relaciona-se com a parte (top e bottom) e o segundo com a parte (left e right)*/
}
.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none; /* faz desaparecer a bolinha do ul quando uma lista é criada, todavia ja havíamos retirado essa propriedade com o reset.css */
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}
.library{ /* estiliando a divisao biblioteca suas borda, cor de fundo etc*/
    background-color: #121212;
    border-radius: 8px;
    display: flex;/* simplifica a forma de mudar a orientação da divisao na tela, otimizando o tempo */
    justify-content: space-between; /* deixa tudo justificado com espaço entre os objetos */
    flex-direction:column ;/* de que forma estara flexivel, colunas? linhas?*/
    padding: 4px 8px;
    color:#b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;  
}
/* é aconselhável seguir a ordem do html para estilizar o css (dica da Mayara)*/
.library .library__content{
    display: flex;
    justify-content: space-between;
}
.library .library__button{
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border:0px; /* tira o contorno da borda do botão*/
    font-size: 14px;/*equivale a 1 rem, que foi um spoiler para 3 aula de imersao, algo relacionado a responsividade.*/
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-align: center; /*centralizar o texto*/
    text-decoration: none;
    text-transform:none;/*caixa alta, lowercase, capitalize, formas de texto, nesse caso, nenhuma.*/
    padding: 20px 10px;
    display: flex;
}
.library .library__button .fa{ /*Estilizando o botao da biblioteca, generico para todas as classes dos icones dentro de library button e library */
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}
.library .library__content .fa-plus{ /*estilizando o +  */
    margin: 24px 10px;
}
.section-playlist{ /* organizando a secao de playlist*/
    display: flex;
    align-items: flex-start; 
    justify-content: space-between;
    gap:20px; /*espaço entre as propriedades do display flex*/
    background-color: #242424;
    color:#b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;
    border-radius: 10px;
}
.section-playlist .section-playlist__content{/* organizando a secao de conteúdo playlist*/
    display: flex;
    flex-direction: column;
}
.section-playlist__content .text{/* estilizando o texto da playlist, que sera usado pelo titulo e subtitulo*/
    padding-bottom: 14px;
    color: #fff;
    font-family: "DM Sans", sans-serif;
}
.section-playlist__content .title{/* estilizando o titulo da playlist*/
    font-weight: 700;
}
.section-playlist__content .subtitle{/* estilizando o subtitulo da playlist*/
    font-weight: 500;
    font-size: 12px;
}
.section-playlist__content .section-playlist__button{ /*estilizando o botao*/
    display:flex;
    justify-content: center; /*alinhara o texto no centro do botao*/
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px; 
    border: 0px;
    width: 113px;
}
.sidebar .cookies{
    margin: 25px 20px;
}
.sidebar .cookies a{
    color:#b3b3b3;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}
.sidebar .cookies a:hover{ /*pseudoclasse que deixara mais interativo a pratica do usuario (ficara sublinhado quando o mouse estiver em cima*/
    text-decoration:underline;   
}
.languages .languages__button{
    align-items: center;
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    font-weight: bold;
    cursor:pointer;
    width: 170px;
    margin:8px;
    padding: 8px;
    border-radius: 20px;
}