:root{
    /*FONT*/
    --font-dm-sans:"DM Sans", sans-serif; /*criando uma variavel para facilitar e otimizar o tempo de codigo*/
    /* COLORS */
    --bg-icon:#131313;
    --bg-arrow-color:rgba(0,0,07);
}
